<mat-nav-list
  (click)="onClose()"
>
  <a mat-list-item
     routerLinkActive="active"
     routerLink="/signup">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Sign Up</span>
  </a>
  <a mat-list-item
     routerLinkActive="active"
     routerLink="/login">
    <mat-icon>fingerprint</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item
     routerLinkActive="active"
     routerLink="/training">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Training</span>
  </a>
  <mat-list-item>
    <button
      mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
