<h1>My products!</h1>
<hr>
<fa-icon
  [icon]="faCoffee"></fa-icon>
<fa-icon icon='coffee' size="xs"></fa-icon>
<fa-icon [icon]="['fas', 'coffee']" size="xs"></fa-icon>
<fa-icon [icon]="['fas', 'coffee']" size="lg"></fa-icon>
<fa-icon [icon]="['fas', 'coffee']" size="6x"></fa-icon>
<hr>

<input
  *ngIf="!isDisabled"
  type="text" [(ngModel)]="productName">

<button
  *ngIf="!isDisabled"
  (click)="onAddProduct()"
>Add product</button>
<h2>{{productName}}</h2>
<hr>
<app-product
  *ngFor="let p of products"
  [productName]="p"
  (productClicked)="onRemoveProduct(p)"
></app-product>
