<h1>My products!</h1>
<hr>
<fa-icon
  [icon]="faCoffee"></fa-icon>
<fa-icon icon='coffee' size="xs"></fa-icon>
<fa-icon [icon]="['fas', 'coffee']" size="xs"></fa-icon>
<fa-icon [icon]="['fas', 'coffee']" size="lg"></fa-icon>
<fa-icon [icon]="['fas', 'coffee']" size="6x"></fa-icon>
<hr>

<form
  #f="ngForm"
  (ngSubmit)="onAddProduct(f)">
  
  <input
    *ngIf="!isDisabled"
    name="productName"
    type="text"
    required
    ngModel>
  
  <button
    *ngIf="!isDisabled"
    type="submit"
  >Add product</button>
  
</form>

<h2>{{productName}}</h2>
<hr>
<app-product
  *ngFor="let p of products"
  [productName]="p"
  (productClicked)="onRemoveProduct(p)"
></app-product>
